@font-face {
    font-family: 'Animal Planet';
    src: url('AnimalPlanetSans-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Animal Planet';
    src: url('AnimalPlanetSans-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Animal Planet';
    src: url('AnimalPlanetSans-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

